@use "./../abstracts/" as *;

.fruits {
    @include flex(flex-start, center, column);
    position: relative;
    background-color: var(--INPUT-BG-COLOR);
    border-radius: 20px;
    border: transparent;
    box-shadow: var(--INPUT-SHADOW);
    margin-inline: 2rem;

    .fruits-header {
        text-align: center;
        width: 100%;
        border-radius: 20px 20px 0 0;
        padding: 1rem;
        background-color: var(--FRUITS-HEADER-BG);
        color: var(--FRUITS-HEADER-TEXT);
    }

    .fruits-list {
        list-style: none;
        width: 100%;
        height: 31vh;
        overflow: auto;

        li {
            color: var(--TEXT-COLOR-PRIMARY);
            padding: 0.75rem;
            padding-left: 2rem;
            border-bottom: 1px solid var(--FRUITS-BORDER-COLOR);
        }
    }
}