@use "./../abstracts/" as *;

.upload-container {
    @include flex(center, center, column);
    text-align: center;
    color: var(--TEXT-COLOR-PRIMARY);
    position: relative;
    background-color: var(--INPUT-BG-COLOR);
    border-radius: 20px;
    border: transparent;
    box-shadow: 0px 1px 14px var(--INPUT-SHADOW-COLOR);
    margin-inline: 2rem;
    gap: 0.5rem;

    h2 {
        @extend %offscreen;
    }

    .error-message {
        font-size: 1.1rem;
        color: var(--ERROR-COLOR);
        visibility: hidden;
    }

    @keyframes fade {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }

    .upload-btn-container {
        position: relative;

        .upload-btn {
            background-color: var(--INPUT-BTN-COLOR);
            color: white;
            border-radius: 18px;
            border: transparent;
            padding: 1rem 1.5rem;
            cursor: pointer;
            font-size: 28px;
            font-weight: 500;
            transition: transform 0.2s, filter 0.2s;

            &:hover, &:focus-visible {
                transform: scale(1.025) translateY(-2px);
                filter: brightness(1.1);
            }
        
            &:active {
                transition: transform 0.1s, filter 0.1s;
                transform: scale(.975) translateY(1px);
                filter: brightness(0.9);
            }
        }

        input[type="file"] {
            display: none;
        }

        .divider {
            margin-top: 0.5rem;
            width: 100%;
            position: relative;

            p {
                font-size: 20px;
                line-height: 20px;
                vertical-align: text-top;

                span {
                    background-color: var(--INPUT-BG-COLOR);
                    color: var(--TEXT-COLOR-SECONDARY);
                    position: relative;
                    z-index: 1;
                    padding-inline: 0.5rem;
                    vertical-align: text-top;
                }
            }

            &::before {
                content: "";
                position: absolute;
                z-index: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 50%;
                height: 4%;
                background-color: var(--TEXT-COLOR-SECONDARY);
            }
        }
    }

    .camera-btn-container {
        margin-top: 0.125rem;

        .camera-btn {
            background-color: transparent;
            border: 1px solid var(--CAMERA-BTN-BORDER-COLOR);
            border-radius: 12px;
            padding: 0.5rem 1rem;
            color: var(--TEXT-COLOR-PRIMARY);
            cursor: pointer;
            font-size: 20px;
            transition: transform 0.2s;

            &:hover, &:focus-visible {
                transform: scale(1.025) translateY(1px);
            }
        
            &:active {
                transition: transform 0.1s;
                transform: scale(.975) translateY(-1px);
            }
        }
    }

    .webcam-header {
        width: 100%;
        text-align: start;
        padding: 1rem 1.5rem;

        button {
            @include flex(center, center, row);
            background-color: transparent;
            border: transparent;
            border-radius: 8px;
            padding: 0.25rem 0.5rem;
            color: var(--TEXT-COLOR-PRIMARY);
            cursor: pointer;
            font-size: 20px;
            transition: transform 0.2s, filter 0.2s;

            &:hover, &:focus-visible {
                transform: scale(1.025);
                filter: brightness(1.125);
            }
        
            &:active {
                transition: transform 0.1s, filter 0.1s;
                transform: scale(.975);
                filter: brightness(0.9);
            }
            
            svg {
                stroke: var(--TEXT-COLOR-PRIMARY);
                width: 30px;
                padding-right: 0.25rem;
            }
        }
    }

    .webcam-body {
        width: 100%;
        flex-grow: 1;
        @include flex(unset, unset, row);
        padding: 1.5rem;
        padding-top: 0.25rem;
        gap: 1.5rem;
        
        #webcam {
            border: 2px solid var(--TEXT-COLOR-SECONDARY);
            border-radius: 14px;
            width: 70%;

            canvas {
                border-radius: 12px;
            }
        }

        ol {
            border: 1px solid var(--TEXT-COLOR-SECONDARY);
            list-style: none;
            @include flex(space-between, center, column);
            width: 30%;

            li {
                white-space: nowrap;
                padding: 0.75rem 1rem;
                height: 100%;
                width: 100%;
                font-size: 20px;
                border-bottom: 1px solid var(--TEXT-COLOR-SECONDARY);
                position: relative;

                &:last-child {
                    border-bottom: none;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: var(--FRUIT-PERCENT);
                    height: 100%;
                    background-color: var(--FRUIT-COLOR);
                    z-index: 0;
                }

                span {
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
}