%offscreen {
    position: absolute;
    left: -10000px;
}

%nowrap {
    white-space: nowrap;
}

%link {
    display: inline-block;
    transition: scale 0.125s;

    &:any-link {
        color: var(--TEXT-COLOR-SECONDARY)
    }

    &:hover, &:focus-visible {
        scale: 1.025;
    }

    &:active {
        scale: 0.975;
    }
}

@mixin flex($justify: center, $align: center, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-flow: $direction $wrap;
}

@mixin button() {
    background-color: transparent;
    border: transparent;
    padding: 0.25rem;
    color: var(--TEXT-COLOR-PRIMARY);
    cursor: pointer;
    transition: scale 0.15s;

    &:hover, &:focus-visible {
        scale: 1.1;
    }

    &:active {
        scale: 0.925;
    }
}