:root {
    /******************  MISCELLANEOUS ******************/
    --GRADIENT-DEG: 0deg;

    /****************** SPACING (PADDING & MARGIN & GAP) ******************/

    //TODO

    --SPACING-XL: 4rem;
    --SPACING-LG: 2rem;
    --SPACING-MD: 1rem;
    --SPACING-SM: 0.5rem;
    --SPACING-XS: 0.25rem;

    /****************** FONT SIZES ******************/

    --FS-XL: 3rem;
    --FS-LG: 1.5rem;
    --FS-MD: 1rem;
    --FS-SM: 0.75rem;
    --FS-XS: 0.5rem;
}

:root.theme-light {
    /****************** COLORS ******************/
    --TEXT-COLOR-PRIMARY: #181714;
    --TEXT-COLOR-SECONDARY: #2f2e2d;
    --TEXT-COLOR-ACCENT: #674f53;

    --GRADIENT-BG-LEFT: #f0a3b9;
    --GRADIENT-BG-MID: #f09579;
    --GRADIENT-BG-RIGHT: #f2dc90;

    --INPUT-BG-COLOR: #f1eee8;
    --INPUT-SHADOW: 0px 1px 12px #57544c;
}

:root.theme-dark {
    /****************** COLORS ******************/
    --TEXT-COLOR-PRIMARY: #fbf9f2;
    --TEXT-COLOR-SECONDARY: #f5f4f0;
    --TEXT-COLOR-ACCENT: #f6de91;

    --GRADIENT-BG-LEFT: #312c2f;
    --GRADIENT-BG-MID: #2a272f;
    --GRADIENT-BG-RIGHT: #2b3034;

    --INPUT-BG-COLOR: hsla(40, 2%, 45%, 0.75);
    --INPUT-SHADOW: 0px 1px 12px #545452;
}
