:root {
    /******************  MISCELLANEOUS ******************/
    --GRADIENT-DEG: 0deg;

    /****************** SPACING (PADDING & MARGIN & GAP) ******************/

    //TODO

    // --SPACING-XL: ;
    // --SPACING-LG: ;
    // --SPACING-MD: ;
    // --SPACING-SM: ;
    // --SPACING-XS: ;

    /****************** FONT SIZES ******************/

    // --FS-XL: ;
    // --FS-LG: ;
    // --FS-MD: ;
    // --FS-SM: ;
    // --FS-XS: ;
}

:root.theme-light {
    /****************** COLORS ******************/
    --TEXT-COLOR-PRIMARY: #22211f;
    --TEXT-COLOR-SECONDARY: #353432;

    --GRADIENT-BG-LEFT: #f0a3b9;
    --GRADIENT-BG-MID: #f09579;
    --GRADIENT-BG-RIGHT: #f2dc90;

    --INPUT-BG-COLOR: #faf7f1;
    --INPUT-SHADOW-COLOR: #605d56;
    --INPUT-BTN-COLOR: #477cf9;
    --CAMERA-BTN-BORDER-COLOR: var(--FRUITS-BORDER-COLOR);

    --FRUITS-HEADER-BG: #504a4b;
    --FRUITS-HEADER-TEXT: #fbfcff;
    --FRUITS-BORDER-COLOR: #a8a7a3;

    --ERROR-COLOR: #e20f00;

    --APPLE: #f57171;
    --AVOCADO: #a5c15e;
    --BANANA: #fcef64;
    --BLACKBERRY: #b2b1b5;
    --BLUEBERRY: #aebff5;
    --CANTALOUPE: #f9b36e;
    --CHERRY: #da7f7f;
    --CRANBERRY: #f87280;
    --CUCUMBER: #aef194;
    --DATE: #cd9e81;
    --DRAGON-FRUIT: #f6668f;
    --DURIAN: #dbdf66;
    --FIG: #b2abc4;
    --GRAPE: #c9f581;
    --GRAPEFRUIT: #f17c5e;
    --GUAVA: #f694b3;
    --HONEYDEW: #d4f295;
    --JACKFRUIT: #e6f372;
    --KIWI: #b1ed75;
    --LEMON: #ffee31;
    --LIME: #aef167;
    --LYCHEE: #fa7092;
    --MANGO: #f87e73;
    --ORANGE: #fc9015;
    --PAPAYA: #f49760;
    --PASSION-FRUIT: #e079a1;
    --PEACH: #fa9392;
    --PEAR: #d7f765;
    --PERSIMMON: #f88b33;
    --PINEAPPLE: #fcee4a;
    --PLUM: #ce95b6;
    --POMEGRANATE: #f77286;
    --POMMELO: #e0f085;
    --PRICKLY-PEAR: #f6667c;
    --RAMBUTAN: #f96664;
    --RASPBERRY: #f2647c;
    --STAR-FRUIT: #f8e14e;
    --STRAWBERRY: #f86267;
    --TOMATO: #f9654e;
    --WATERMELON: #fa757c;
}

:root.theme-dark {
    /****************** COLORS ******************/
    --TEXT-COLOR-PRIMARY: #d8dae1;
    --TEXT-COLOR-SECONDARY: #b9b9c2;

    --GRADIENT-BG-LEFT: #312c2f;
    --GRADIENT-BG-MID: #2a272f;
    --GRADIENT-BG-RIGHT: #2b3034;

    --INPUT-BG-COLOR: #44434a;
    --INPUT-SHADOW-COLOR: #191719;
    --INPUT-BTN-COLOR: #6389e0;
    --CAMERA-BTN-BORDER-COLOR: hsla(240, 3%, 51%, 0.85);

    --FRUITS-HEADER-BG: var(--TEXT-COLOR-SECONDARY);
    --FRUITS-HEADER-TEXT: #39363a;
    --FRUITS-BORDER-COLOR: hsla(240, 7%, 62%, 70%);
    
    --ERROR-COLOR: #e7a8a8;

    --APPLE: #802222;
    --AVOCADO: #474f30;
    --BANANA: #6b5611;
    --BLACKBERRY: #211f26;
    --BLUEBERRY: #21293e;
    --CANTALOUPE: #ac6116;
    --CHERRY: #3f1717;
    --CRANBERRY: #770e19;
    --CUCUMBER: #314525;
    --DATE: #402312;
    --DRAGON-FRUIT: #7f0628;
    --DURIAN: #5a5d0a;
    --FIG: #373047;
    --GRAPE: #3a5909;
    --GRAPEFRUIT: #8d311b;
    --GUAVA: #69102c;
    --HONEYDEW: #4d5c2d;
    --JACKFRUIT: #57600d;
    --KIWI: #37531b;
    --LEMON: #8e8206;
    --LIME: #3f7307;
    --LYCHEE: #8f0f2f;
    --MANGO: #862e26;
    --ORANGE: #8f510b;
    --PAPAYA: #a94206;
    --PASSION-FRUIT: #57122d;
    --PEACH: #612b2a;
    --PEAR: #5c6b27;
    --PERSIMMON: #8d4408;
    --PINEAPPLE: #887d06;
    --PLUM: #41313a;
    --POMEGRANATE: #840618;
    --POMMELO: #5f6632;
    --PRICKLY-PEAR: #982133;
    --RAMBUTAN: #8e1613;
    --RASPBERRY: #771223;
    --STAR-FRUIT: #88780f;
    --STRAWBERRY: #8f171b;
    --TOMATO: #842e06;
    --WATERMELON: #9d3036;
}
